<div class="container-xxl position-relative bg-light d-flex p-0">
    <!-- Sidebar Start -->
    <div class="sidebar" [class.open]="sidebarOpen">
        <nav class="navbar">
            <a routerLink="/" class="navbar-brand mx-3 mb-3 mt-2">
                <h3 class="text-primary-manual">
                    <i class="fa fa-hashtag me-2"></i>Connected Living</h3>
            </a>
            <div class="d-flex align-items-center ms-2 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="../assets/harish1.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3 side-name">
                    <h6 class="mb-0 " >Harish Kumar</h6>
                    <span class="font-size-12">MEAN stack developer</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                
                <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Profile</a>
                <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>About</a>
                <a routerLink="/skill" routerLinkActive="active" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Skills</a>
                <a routerLink="/project" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Project</a> 
                <a routerLink="/resume" routerLinkActive="active" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Resume</a>
                <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Contact</a>

            </div>
        </nav>
    </div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content bg-light" [class.open]="sidebarOpen">
        <nav class="navbar navbar-expand sticky-top px-4 py-0 navbar-main-header">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a class="sidebar-toggler flex-shrink-0" (click)="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </a>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="./assets/harish1.jpg" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Harish kumar</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a  class="dropdown-item" (click)="profileView()">Profile</a>
                        <a class="dropdown-item" routerLink="/contact">Contact</a>
                        <a *ngIf="!isAuth()" class="dropdown-item" (click)="login()">login</a>
                        <a *ngIf="isAuth()" class="dropdown-item" (click)="logout()">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>

        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->
</div>
    