  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{data?.name}}</h1>
      <p style="text-indent: 10px;">  I'm a <span class="typed" data-typed-items="Developer"></span></p>
      <div class="social-links" >
        <a  class="twitter"><i class="fa-brands fa-x-twitter"></i></a>
        <a  class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a  class="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a  class="google-plus"><i class="fa-brands fa-google-plus-g"></i></a>
        <a  class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
    
  </section>
