
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p class="about-p">
            I specialize in building web applications using the MEAN stack, which stands for MongoDB, Express.js, Angular, and Node.js. I have experience with both frontend and backend development, allowing me to create full-stack applications that are efficient, scalable, and responsive.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="flip-left" data-aos-duration="1000">
            <img src="../../../assets/se3.svg" class="img-fluid flip-hover" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3 class="heading-3">MEAN Stack Developer</h3>
            <p class="about-p">
               
               As a MEAN stack developer,I'm passionate about staying up-to-date with the latest technologies and best practices in web development to deliver high-quality solutions that drive business success.
            </p>
            <div class="row">
              <div class="col-lg-6 my-3">
                <!-- <ul>
                  <li><i class="fa-solid fa-chevron-right"></i> <strong>Birthday:</strong> <span>03 01 1996</span></li>
                  <li><i class="fa-solid fa-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="fa-solid fa-chevron-right"></i> <strong>Phone:</strong> <span>+91 7402231685</span></li>
                  <li><i class="fa-solid fa-chevron-right"></i> <strong>City:</strong> <span>Bangaluru,IN</span></li>
                </ul> -->

<div class="card-body p-4">
                <h6 class="about-card-head">Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6><i class="fa-regular fa-envelope"></i></h6>
                    <p class="text-muted about-mail">{{data?.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>
                      <i class="fa-solid fa-phone"></i>
                    </h6>
                    <p class="text-muted">{{data?.mobile}}</p>
                  </div>
                </div>
</div>





              </div>
              <div class="col-lg-6 my-3">
                <!-- <ul>
                  <li><i class="fa-solid fa-chevron-right"></i> <strong>Age:</strong> <span>27</span></li>
                  <li><i class="fa-solid fa-chevron-right"></i> <strong>Degree:</strong> <span>UG(EEE)</span></li>
                  <li><i class="fa-solid fa-chevron-right"></i> <strong>PhEmailone:</strong> <span>harishkumark05@gmail.com</span></li>
                  <li><i class="fa-solid fa-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul> -->
                <div class="card-body p-4">
                <h6 class="about-card-head">Project</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                 <!--  <div class="col-12 mb-3">
                    
                    <p class="text-muted"></p>
                  </div> -->
                  <div class="col-12 mb-3">
                    <h6>
                      <i class="fa-solid fa-link"></i>
                    </h6>
                    <p class="text-muted" [routerLink]="['/','dashboard']">Link</p>

                  </div>
                </div>
</div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->