   <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p class="resume-p"> I'm passionate about building efficient and scalable web applications using the latest technologies. I aim to continue learning and growing while making a positive impact in the field of web development.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Harish kumar</h4>
              <p class="resume-p">Impactful MEAN Stack Developer with 4+ years of experience designing, developing, and deploying high-performance scalable single page web applications.</p>
              <ul class="list-summary">
                <li>{{data?.location}}</li>
                <li>(+91){{data?.mobile}}</li>
                <li>{{data?.email}}</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Engineering</h4>
              <h5>2013 - 2017</h5>
              <p class="resume-p"><em>In Electrical and Electronics</em></p>
                       
            </div>
 
      <h3 class="resume-title">Experience - NonTech</h3>
            <div class="resume-item">
              <h4>Graduate Trainee</h4>
              <h5>2017 - 2018</h5>
              <p><em>Supply Chain Management</em></p>
                       
            </div>

          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Tech Experience</h3>
            <div class="resume-item">
              <h4>MEAN Stack Developer</h4>
              <h5>2021 - Present</h5>
              <p><em>Transport Management System</em></p>
              <ul class="resume-p resume-list-item">
                <li>Worked on creating a application from scratch using MEAN stack Technologies like Angular, Node.js, Express,MongoDB</li>
                <li>Responsible for developing crud app for authorization of the users and storing the validated
data to No SQL database. </li>
                 <li>
Successfully implemented internationalization (i18n) in Angular applications, enabling seamless adaptation to diverse languages and regions.</li>
                <li>Worked with Socket.IO on real time communication between the client and the server for
GPS based tracking</li>
                <li>Used Post man for JSON REST API testing with node.js server</li>

              </ul>
            </div>
            <div class="resume-item">
              <h4>Associate Front End Developer</h4>
              <h5>2020 - 2021</h5>
              <p><em>E-learning</em></p>
              <ul class="resume-p resume-list-item">
                <li>Implemented migration of the application to enable lazy loading for faster loading times, while also implementing differential loading to ensure compatibility across various platforms.</li>
                <li>Also worked on various projects to provide new features</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->