  <section id="hero" class="">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{data?.name}}</h1>
      <p style="text-indent: 10px;">  I'm a <span class="typed" data-typed-items="Developer"></span></p>
      <div class="social-links" >
        <a  class="twitter" href="{{data.twitter}}" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a  class="facebook"href="{{data.facebook}} " target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a  class="instagram" href="{{data.instagram}}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <!-- <a  class="google-plus"><i class="fa-brands fa-google-plus-g"></i></a> -->
        <a  class="linkedin" href="{{data.linkedin}}" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
    </section>
